$$Z = \dfrac{\mu_{population} - \mu_{sample}}{\frac{\sigma}{\sqrt{N}}}$$

$$H_{0}: \mu = \mu_{0}$$
$$H_{a}: \mu \neq \mu_{0}$$

$$H_{a}: \mu > \mu_{0} \textrm{ or } H_{a} \mu < \mu_{0}$$


Our null hypothesis is that
Our alternative hypothesis is that

$$\alpha = .05$$

<center>Our $\alpha$ is 0.05, meaning we are looking for a 95% confidence interval.<center>

In [2]:
import os
import pandas as pd
import numpy as np

In [14]:
os.system("curl -O https://raw.githubusercontent.com/fedhere/PUI2017_fb55/master/Lab3_fb55/times.txt")
data = pd.read_csv("times.txt")
data.head()

   31.62223931
0    32.821376
1    30.229101
2    31.413766
3    39.010550
4    34.822079

In [17]:
mu = np.mean(data)
std = np.std(data)

se = std / sqrt(len(data))
z =  ( - mu) / se

alpha = 0.05

if z >= alpha:
    print("Insignificant. Do not reject the null hypothesis.")
    print("P value = " + str(z))
    print("P value > 0.05")
else:
    print("Significant. Reject the null hypothesis.")
    print("P value = " + str(z))
    print("P value < 0.05")

(31.62223931    34.494888
dtype: float64, 31.62223931    7.131497
dtype: float64)